<div class="container-fluid" ng-controller="FormController" ng-init="initialize()">
		<div class="form-group" ng-hide="isStateParam">
				<label class="fontSize">Select an Entity :</label>
				<select class="form-control" ng-model="entityName" ng-change="getEntityColumns()">
						<option ng-repeat="x in entityNames" ng-value="x">{{x}}</option>
				</select>
		</div>
	<div >
		<br/>
		<ul class="nav nav-tabs" style="font-size: 15px">
		    <li class="active nav-item" ><a class="nav-link active" data-toggle="tab" href="#dataEntry">Data Entry</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#csv" >CSV</a></li>
		   
		  </ul>

		  <div class="tab-content">
		  	<br>
		  	<div id="dataEntry" class="tab-pane  active">
		  		<div ng-include="'/app/project/data/data_entry.template.html'"></div>
		  		
		  	</div>
		  	<div id="csv" class="tab-pane fade">
		  		<div ng-include="'/app/project/data/csv.template.html'"></div>
		  	
			  </div>

		    
		  </div>

		
	</div>
</div>
