<div class="container-fluid col-md-6 col-md-offset-1" ng-controller="FormController" ng-init="initialize()">
    <div >
        <br/>

        <form name="form" ng-submit="" role="form">
            <br>
            <div class="form-group" ng-hide="isStateParam">
                    <label>Select an Entity</label>
                    <select class="form-control" ng-model="entityName" ng-change="getEntityColumns()">
                            <option ng-repeat="x in entityNames" ng-value="x">{{x}}</option>
                    </select>
            </div>
            <div>
                <div class="form-group" ng-repeat="x in objects">
                    <label>{{ x.name }}</label>
                    <input type={{x.datatype}} class="form-control ng-pristine ng-valid ng-touched" placeholder={{x.name}} ng-required={{x.isMandatory}} ng-model="x.value">
                </div>
                <button class="btn btn-primary" type="button" ng-click="submit()">submit</button>
            </div>


        </form>


    </div>
</div>
